@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .puzzlely-dark :host:not([data-theme]),
  .puzzlely-dark :root:not([data-theme]),
  .puzzlely-dark [data-theme]:not([data-theme]),
  [data-theme="dark"] :host:not([data-theme]),
  [data-theme="dark"] :root:not([data-theme]),
  [data-theme="dark"] [data-theme]:not([data-theme]),
  :host[data-theme="dark"],
  :root[data-theme="dark"],
  [data-theme][data-theme="dark"] {
    color-scheme: dark;

    --color-base: 249deg 22% 12%;
    --color-overlay: 248deg 25% 18%;
    --color-surface: 247deg 23% 15%;

    --color-muted: 249deg 12% 47%;
    --color-subtle: 248deg 15% 61%;
    --color-text: 245deg 50% 91%;

    --color-blue: 189deg 43% 73%;
    --color-cyan: 2deg 55% 83%;
    --color-green: 197deg 49% 38%;
    --color-magenta: 267deg 57% 78%;
    --color-red: 343deg 76% 68%;
    --color-yellow: 35deg 88% 72%;
  }

  .puzzlely-light :host:not([data-theme]),
  .puzzlely-light :root:not([data-theme]),
  .puzzlely-light [data-theme]:not([data-theme]),
  [data-theme="light"] :host:not([data-theme]),
  [data-theme="light"] :root:not([data-theme]),
  [data-theme="light"] [data-theme]:not([data-theme]),
  :host[data-theme="light"],
  :root[data-theme="light"],
  [data-theme][data-theme="light"] {
    color-scheme: light;

    --color-base: 32deg 57% 95%;
    --color-overlay: 33deg 43% 91%;
    --color-surface: 35deg 100% 98%;

    --color-muted: 257deg 9% 61%;
    --color-subtle: 248deg 12% 52%;
    --color-text: 248deg 19% 40%;

    --color-blue: 189deg 30% 48%;
    --color-cyan: 3deg 53% 67%;
    --color-green: 197deg 53% 34%;
    --color-magenta: 268deg 21% 57%;
    --color-red: 343deg 35% 55%;
    --color-yellow: 35deg 81% 56%;
  }
}
